body {
  margin: 0;
  height: 100vh;
}
.container{
  border: 1px solid #000;
}
header {
  background-color: yellowgreen;
  color: #fff;
  text-align: center;
  height: 150px;
  
}
section {
  display: flex;
}

article,
aside,
nav {
  height: calc(100vh - 300px);
  flex:1
}

article {
  background-color: #eee;
  flex: 3;
}
aside {
  background-color: #ddd;
  flex: 1;
}
nav {
  background-color: #aaa;
  flex: 1;
}
footer{
  background-color: goldenrod;
  color: #fff;
  height: 150px;
  text-align: center;
}