.container {
    background-color: rgb(231, 225, 236);
    width: 900px;
    height: 150px;
    background-size: cover;
    display: inline-block;
}

.numbers {
    background-color: azure;
    width: 800px;
    height: 100px;
    display: inline-block;

    border-radius: 80px 80px 80px 80px;
}

.number {
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;

}

.number p {
    font-size: 25px;
    text-align: center;
    color: aliceblue;
}